body {
}

main {
  margin: 0;
  margin-left: 15ch;
  padding: 0;
}

.column {
  border-bottom: 1px dashed var(--violet);
  border-top: 1px dashed var(--violet);
  height: 94vh;
  margin: 0;
  max-width: 33vw;
  overflow-y: scroll;
  padding: 0;
}

.toot {
  border: 1px solid var(--violet);
  border-radius: 0.25em;
  margin: 0;
  padding: 0 0.5em;
}

div.hidden-modal {
  max-height: 0 !important;
  opacity: 0 !important;
  z-index: -99 !important;
}

div.modal {
  background-color: var(--base0);
  color: var(--base03);
  font-weight: bold;
  height: 100vh;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  opacity: 0.8;
  padding-top: calc(50vh - 0.5em - 40px);
  position: absolute;
  text-align: center;
  top: 0;
  transition: opacity 1s;
  width: 100vw;
  z-index: 99;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 25%;
  background: var(--red);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

